* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(184, 230, 238);
    justify-content: space-around;
    object-fit: contain;
}

.about {
    background-image: url("bg.jpg");
    /* width: 1519px; */
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.about .heading {
    position: absolute;
    left: 50%;
    bottom: 50%;
    text-decoration: underline;
    transform: translate(-60px, -200px);
    padding: 10px;
    border-radius: 20px;
    font-size: 2.5rem;
}

.sec-heading {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}

.info {
    /* column-count: 2; */
    margin-left: 20px;
    margin-right: 20px;
    word-spacing: 5px;
    position: relative;
    font-size: large;
    font-style: italic;
}

.description {
    margin: 20px 10px;
}